<div fxFlex="100" style="margin: 10px;"> 
    <div>
        <div class="pageTitle">
            Setting Api
        </div>
        <div class="pageBody" *ngIf="Mode==''">
            Search Settings:
            <input style="width:200px;"
            [formControl]="search"
            (keyup)="InputSearch_valuechange($event)"
            type="text">
        </div>
        <div class="loader-block" *ngIf="ShowLoading">
            <app-spinner></app-spinner>
        </div>
        <div  *ngIf="!ShowLoading && Mode==''" fxLayout="column" fxFlexFill>
            <div *ngIf="pagedSettingDTO.PageResult.RowCount != 0" style="border-bottom: darkgray solid 1px;" fxLayout="row" fxHide.xs="true" fxHide.sm="true" fxFlexFill>
              <div fxFlex="5" class="component-table-title"></div>
              <div fxFlex="20" class="component-table-title">Name</div>
              <div fxFlex="75" class="component-table-title">Value</div>
            </div>
            <div *ngFor="let setting of pagedSettingDTO.Settings" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexFill>
                <div fxFlex="5" class="component-table-row">
                     <a title="Update Setting" style="cursor:pointer; margin: 5px;" (click)="SelUpdateSetting(setting)"><i class="fa fa-pencil"></i></a>      
                </div>
               <div fxFlex="20" class="component-table-row">
                <div fxHide.gt-sm="true"><b>Name:</b> {{setting.Name}}</div>
                <div fxHide.lt-md="true">{{setting.Name}}</div>
              </div>
              <div fxFlex="75" class="component-table-row">
                <div fxHide.gt-sm="true"><b>Value:</b> {{setting.Value}}</div>
                <div fxHide.lt-md="true">{{setting.Value}}</div>
              </div>
            </div>
            <div *ngIf="pagedSettingDTO.PageResult.RowCount != 0" style="margin-top: 10px;">
                <a title="First Page" (click)="NavigateFirst()" class="pageButtonNavigation">&#8249;&#8249;</a>
                <a title="Previous Page" (click)="NavigatePrevious()" class="pageButtonNavigation">&#8249;</a>
                Current Page: {{currentPage}} of {{pagedSettingDTO.PageResult.PageCount}}
                <a title="Next Page" (click)="NavigateNext()" class="pageButtonNavigation">&#8250;</a>
                <a title="Last Page" (click)="NavigateLast()" class="pageButtonNavigation">&#8250;&#8250;</a>
            </div>
        </div>
        <div style="color: red;" *ngIf="pagedSettingDTO.PageResult.RowCount == 0">
            No setting(s) found.
        </div>

        <div *ngIf="!ShowLoading" fxLayout="row">
            <div fxFlex.xs="0" fxFlex.sm="15" fxFlex.md="25" fxFlex.lg="35" fxFlex.xl="45"></div>
            <div fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="50" fxFlex.lg="30" fxFlex.xl="10"  *ngIf="Mode!=''" fxLayout="column">
                <div class="pageSubTitle">{{PageTitle}}</div>
                <div *ngIf="selSettingDTO.Name"  class="pageLabel">Name: {{selSettingDTO.Name}}</div>  
                <div class="pageLabel">Value:</div>  
                <div class="pageLabel">
                <textarea name="Name"
                        type="text"
                        rows="40" cols="20"
                        [(ngModel)]="selSettingDTO.Value">
                </textarea>
                </div>  
                <div style="margin-top: 10px;">
                    <button *ngIf="Mode=='U'"  class="pageButton" (click)="UpdateSetting()">Update Setting</button>
                    <button style="margin-left: 5px;" class="pageButton" (click)="CancelEdit()">Cancel</button>
                </div>
            </div>
            <div fxFlex.xs="0" fxFlex.sm="15" fxFlex.md="25" fxFlex.lg="35" fxFlex.xl="45"></div>
        </div>


    </div>
</div>