<div fxFlex="100" style="margin: 10px;"> 
    
  <div fxLayout="column">

    <div class="pageTitle">
      eshop API Angular
    </div>
    <div class="pageLabel">
      This app in Angular 11 is only a demo to show how to call the eShop API.
    </div>
    <div class="pageBody">
        This demo uses the following features/components: 

      <ul>
        <li>Angular Universal --> SEO Friendly</li>
      </ul>
      <ul>
        <li>
          Lazy Loading --> Faster Page Loading
        </li>
      </ul>
      <ul>
        <li>
          Angular Flex-Layout --> Responsive Design
        </li>
      </ul>
      <ul>
        <li>
          Angular Material -> Drag&Drop and Modal Popup Windows
        </li>
      </ul>
      <ul>
        <li>
          Interseptor --> Centralised way to manage Outgoing Requests 
        </li>
      </ul>
      <ul>
        <li>
          Services --> Reusable Components
        </li>
      </ul>
      <ul>
        <li>
          JSON Web Tokens (JWT) --> Secure Transmission
        </li>
      </ul>
      <ul>
        <li>
          ngx-PayPal --> PayPal Smart Payment Buttons
        </li>
      </ul>
    </div>
  </div>
</div>


