<div fxFlex="100" style="margin: 10px;"> 
    
  <div fxLayout="column">

    <div class="pageTitle">
      eShop Api Documentation
    </div>
    <div class="pageBody">
      See the README.md file for the documentation. ???ADD LINK TO GITHUB???
    </div>
    <div class="pageTitle">
      How to set up the online shop
    </div>
    <div class="pageBody">
      <ul>Use the Account.Register Api to register to the shop.</ul>
      <ul>Create a Email Confimation Page and set the link in Setting.Name=confirmationEmail.confirmationLink</ul>
      <ul>In the Email Confirmation Page, get the CustomerId from the Url and call Account.Email-Confirmation Api</ul>
      <ul>In case of Reset Password, create a Reset Password Page and set the link in Setting.Name=resetPassword.resetLink</ul>
      <ul>In the Reset Password Page, get the token from the Url and call Account.Reset-Password Api</ul>
      <ul>Add some categories using Category Api</ul>
      <ul>Add some attributes (if any) using Attribute Api</ul>
      <ul>Add some discounts (if any) using Discount Api</ul>
      <ul>Config the settings using Setting Api</ul>
      <ul>Add some products using Product Api</ul>
      <ul>Add To Cart</ul>
    </div>
  
  </div>

</div>


