<div fxFlex="100" style="margin: 10px;"> 
    
  <div fxLayout="column">

    <div class="loader-block" *ngIf="ShowLoading">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="!ShowLoading">
        <div class="pageTitle">
          Account Api - Reset Password
      </div>
      <div class="pageBody">
        <div class="pageLabel">CustomerId:</div>
        <div style="margin-top:10px; margin-bottom:20px;">
          <input type="number" [(ngModel)]="resetPasswordCustomerId"  name="resetPasswordCustomerId">
        </div>
        <button class="pageButton" (click)="ResetPassword()">Reset Password</button>
      </div>
    </div>
  </div>

</div>


