<div fxFlex="100" style="margin: 10px;"> 
  <div class="loader-block" *ngIf="ShowLoading">
      <app-spinner></app-spinner>
  </div>
  <div *ngIf="!ShowLoading">
    <div class="pageSubTitle">
      Account Api - Reset Password Page
    </div>
    <div class="pageBody">
      <div class="pageLabel">New Password:</div>
      <div style="margin-top:10px; margin-bottom:20px;">
        <input type="password" [(ngModel)]="changePasswordNewPassword" name="changePasswordNewPassword">
      </div>
      <button class="pageButton" (click)="ChangePassword()">Change Password</button>
    </div>
  </div>
</div>  